
.content-text{
    color:#1b4c66;
    
    font-size: larger;
    text-align: justify;
}
.main-section_1{
    /* background-image: url('https://images.unsplash.com/photo-1470116073782-48ae2ccd8ffd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80'); */
    /* background-image: url("../images/bird_image_7.jpg"); */
    /* background-image:url("https://images.unsplash.com/photo-1509755125965-42f71d3cff7d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height:100vh; */
    /* --background: seagreen;
    --leftColor: mediumblue;
    --rightColor: darkgoldenrod;
    --textColor: white; */
    background-image: linear-gradient(60deg, rgb(90, 189, 41) 42%, rgb(53, 131, 184) 40%);
}
.project-aim-content {
    display: flex;
    justify-content: center;
   
}

.project-aim-content p{
    max-width: 60%;
}
.section_3-main{
    /* background: #4e54c8;   */
    background-image: linear-gradient(to left, #8f94fb, #4e54c8); 
    padding-top: 35px;
    padding-bottom: 35px;
}
.list_bird_conserve{
    display: flex;
    justify-content: center;
}
.conserve_list{
    /* text-align: justify; */
    font-size: larger;
    font-weight: 500;
    padding: 30px 50px;
    list-style-type: none;
}
.conserve_list li {
    background-color: #a099b1;
    margin:10px;
    padding:10px;
    
}

@media screen and (max-width: 550px){
    .content-text{
        color:#1b4c66;
        
        font-size: small;
        text-align: justify;
    }
}



/* animated section css */

.context {
    width: 100%;
    position: absolute;
    /* top:50vh; */
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}